- if @program.show_voting?
  #{event.average_rating}/#{@program.rating}
  (#{pluralize(event.voters.length, 'voter')})
  %br
  - @program.rating.times do |counter|
    - if event.average_rating.to_f.round < counter+1
      <i class="fa fa-star-o text-muted" aria-hidden="true"></i>
    - else
      <i class="fa fa-star text-muted" aria-hidden="true"></i>

  %br

- if event.voted?(current_user)
  %span.label.label-success
    Your rating: #{ event.user_rating(current_user) }
- else
  -if @program.voting_period?
    = link_to 'Rate it!', admin_conference_program_event_path(@conference.short_title, event, anchor: 'vote_widget'), class: 'btn btn-xs btn-info btn-outline'
