- if conference.registration_open?
  - if conference.user_registered?(current_user)
    = link_to "My Registration", main_app.conference_conference_registration_path(conference.short_title), :class =>"btn btn-outline btn-default btn-round"
- if current_user && PhysicalTicket.user_tickets(conference, current_user).any?
  = link_to "My Tickets", main_app.conference_physical_ticket_index_path(conference.short_title), class: 'btn btn-outline btn-default btn-round'
- if !current_user.nil? && current_user.proposal_count(conference) > 0
  = link_to "My Proposals", main_app.conference_program_proposals_path(conference.short_title), :class =>"btn btn-outline btn-default btn-round"
- elsif can? :new, conference.program.events.new
  - unless conference.ended?
    = link_to "Submit Proposal", main_app.new_conference_program_proposal_path(conference.short_title), :class =>"btn btn-outline btn-default btn-round"
- if conference.program and conference.program.schedule_public
  = link_to "Schedule", main_app.conference_schedule_path(conference.short_title), :class =>"btn btn-outline btn-default btn-round"

.btn-group
  - if !@conference || @conference != conference
    - if conference.splashpage && conference.splashpage.public
      = link_to "View Conference", main_app.conference_path(conference.short_title), :class =>"btn btn-info btn-round"

  - if conference.registration_open? && conference.tickets.any?
    = link_to "Tickets", main_app.conference_tickets_path(conference.short_title), class: "btn btn-success btn-round", disabled: conference.registration_limit_exceeded?
    - if conference.registration_limit_exceeded?
      Sorry, no places left