.container
  %h2.text-center
    Program
  - if @conference.program and @conference.program.schedule_public
    .col-md-12
      .text-center
        = link_to(events_conference_schedule_path(@conference.short_title), class: 'btn btn-default btn-lg btn-cta') do
          Full Schedule
      %p.text-center.subtitle
        = @conference.short_title
        has the most awesome program ever!
        - if @conference.splashpage and @conference.program.tracks.any? and @conference.splashpage.include_tracks
          See rock-star speakers cover the topics of
    - if @conference.splashpage and @conference.splashpage.include_tracks
      - @conference.program.tracks.each_slice(3) do |slice|
        .row.row-centered
          - slice.each do |track|
            .col-md-4.col-sm-12.col-centered.col-top
              .program-card{'style'=>"border-left-color: #{track.color}"}
                %h3.program-card_title
                  = track.name
                - track.events.joins(:event_type).where(state: 'confirmed').each do |event|
                  - unless event.event_type.internal_event?
                    %p.text-left.program-card_event
                      = link_to event.title, conference_program_proposal_path(@conference.short_title, event)
                      = "by #{event.speakers_ordered.first.try(:name) || 'Unknown Speaker'}"

  - if @conference.program and @conference.program.schedule_public
    .row
      .col-md-12
        .text-center
          = link_to(events_conference_schedule_path(@conference.short_title), class: 'btn btn-default btn-lg btn-cta') do
            Full Schedule
  = content_for :splash_nav do
    %li
      %a.smoothscroll.hidden-xs{ href: '#program' } Program
      %a.smoothscroll.visible-xs{ href: '#program', data: {toggle: "collapse", target:".navbar-collapse" }} Program
