- color = event.track.try(:color).present? ? event.track.try(:color) : '#dddddd'
%td.event{ height: "#{ height * span }%" , |
           style: "border-style: solid; box-shadow: inset 0px -5px 0px 0px #{color}",
           rowspan: span, |
           role: "button", |
           data: { trackid: event.track.try(:id) } }
  %a.unstyled-link{href: url_for(conference_program_proposal_path(@conference.short_title, event.id))}
    %div{ class: "elipsis break-words event-title", |
          style: "-webkit-line-clamp: #{ event_lines(@rooms) }; width: #{ event_width_layout(@rooms) }px;"} |

      - if event.state == 'canceled' || event.state == 'withdrawn'
        %span.label.label-danger.schedule-label CANCELED
      - elsif event.state == 'confirmed' && (!event_schedule.intersecting_events.canceled.empty? || !event_schedule.intersecting_events.withdrawn.empty?)
        %span.label.label-info.schedule-label REPLACEMENT

      = truncate(event.title, :length => 60)

    %div{ style: "margin-top: 5px;" }
      - event.speakers_ordered.each do |speaker|
        = image_tag speaker.avatar_url(version: 'xsmall'), :class => "img-circle speaker-pic", |
                                          :alt => speaker.name, |
                                          :title => speaker.name, |
                                          :style => "height: #{ layout_speaker_height(@rooms) }px; width: #{ layout_speaker_width(@rooms) }px;"
