= content_for :sched do
  .container

    .row.active-events

    %h1.text-center
      = @conference.title
      Program

    .row
      <a id="sched-embed" href="#{@sched_url}/">View the PostgresConf 2019 schedule &amp; directory.</a><script type="text/javascript" src="#{@sched_url}/js/embed.js"></script>
= yield :sched

