.row
  .col-md-12
    .page-header
      %h1 Speakers
      %p.text-muted
        The speakers for your conference. Choosing to highlight a speaker will cause their profile to
        show up on the main splash page so ensure that their image, company name and job title are all appropriate.
.row
  .col-md-12
    %table.table.table-hover#event_types
      %thead
        %th Highlight
        %th Image
        %th Name
        %th Company
        %th Job Title
      %tbody
        - @speakers.each do |speaker|
          %tr
            %td.text-center{'data-order' => "#{speaker.is_highlight?(@conference)}"}
              = check_box_tag @conference.short_title, speaker.id, speaker.is_highlight?(@conference),
                method: :patch, url: "/admin/conferences/#{@conference.short_title}/program/speakers/#{speaker.id}?speaker[is_highlight]=",
                class: 'switch-checkbox', data: { size: 'small',
                                                  off_color: 'warning',
                                                  on_text: 'Yes',
                                                  off_text: 'No' }
            %td
              = image_tag speaker.avatar_url(version: 'medium'), class: "img-responsive img-rounded"
            %td
              = speaker.name
            %td
              = speaker.affiliation
            %td
              = speaker.title
