.row.product
  .col-lg-10.col-md-9.col-sm-12
    %h4.product-name
      = ticket.title
    .product-description
      - if event.present?
        %a{ href: '#', data: { toggle: 'modal', target: "#modal_#{event.id}" } }
          = event.title
      - else
        - unless ticket.description.blank?
          = markdown(ticket.description)
  .col-lg-2.col-md-3.col-sm-12
    .col-md-6.col-sm-10.col-xs-8.text-right
      %h5
        %strong
          %span{id: "price_#{ticket.id}", data:{price: ticket.adjusted_price}}
          - if ticket.current_price.zero?
            Free!
          - else
            = ticket.current_price.symbol
            = humanized_money ticket.adjusted_price
            %span.hidden.total_row{id: "total_row_#{ticket.id}"}
              0
    .col-md-6.col-sm-2.col-xs-4
      - if event.present?
        - available = event.purchase_quantity_available
        - if available > 0
          = select_tag("chosen_events[#{ticket.id}][#{event.id}]", options_for_select((0..available).to_a), class: "selectpicker form-control",
                                  onchange: "update_event(this, #{ticket.id});")
        - else
          %h5
            Sold Out

        .modal.fade{ id: "modal_#{event.id}" }
          .modal-dialog
            .modal-content
              .modal-header
                %button.close{ data: { dismiss: 'modal' } }
                  x
              .modal-body.text-center
                = render partial: 'event_listing', locals: { event: event }

      - else
        = select_tag("tickets[][#{ticket.id}]", options_for_select((0..ticket.purchase_quantity_available).to_a), class: "selectpicker form-control quantity", 'data-id' => ticket.id)
