:javascript
  var currency_symbol = '#{Money::Currency.new(@conference.default_currency).symbol}';
  var currency_separator = '#{Money::Currency.new(@conference.default_currency).separator}';
  var currency_delimiter = '#{Money::Currency.new(@conference.default_currency).delimiter}';
  var tix = '#{@tix}'

.container
  .row
    .col-md-8.col-md-offset-2
      .page-header
        %h1
          Tickets
      %p.lead
        Please choose your tickets for
        %strong
          = @conference.title
        here*

        - if @conference.codes.any?
          = render 'code'

      =form_tag(conference_ticket_purchases_path, method: :post) do |f|
        - if @conference.tickets.applied_code.present?
          = hidden_field_tag 'code_id', @conference.tickets.applied_code.id
        %table.table.table-hover
          %thead
            %tr
              %th Quantity
              %th Ticket
              %th Price
              %th Total
          %tbody
          - @conference.tickets.visible_tickets.each do |ticket|
            = render partial: 'ticket', f: f, locals: {ticket: ticket}
            = hidden_field_tag "purchase_prices[][#{ticket.id}]", ticket.adjusted_price
          %tr
            %td
            %td
            %td.col-sm-1.col-md-1.text-center
              %h4
                Total
            %td.col-sm-1.col-md-1.text-center
              %h4
                %strong
                  %span{id: 'total_price'}
                    0
        .pull-right
          .btn-group-vertical
            = button_tag(type: 'submit', class: 'btn btn-success btn-lg') do
              Continue
              %i.fa.fa-shopping-cart
            - if current_user.ticket_purchases.by_conference(@conference).any?
              = link_to 'Back to registration', conference_conference_registration_path(@conference.short_title), class: 'btn btn-default btn-sm'
            - else
              = link_to 'Cancel registration', conference_conference_registration_path(@conference.short_title), method: :delete, class: 'btn btn-danger btn-sm',
                data: { confirm: 'Are you sure you want to unregister?' }

  .row
    .col-md-13
      %p.text-muted.text-center
        %small
          * Getting a ticket is mandatory. Your participation will not be valid until you get a ticket.
  .row
    .col-md-13
      %p.text-muted.text-center
        %small
          Registering a group?
          %a{ href: '#', data: { toggle: 'modal', target: "#group_alert" } }
            Learn More

          .modal.fade{ id: "group_alert" }
            .modal-dialog
              .modal-content
                .modal-header
                  %button.close{ data: { dismiss: 'modal' } }
                  x
                .modal-body.text-center
                  You will have the opportunity to assign tickets to group members later in the registration process. The total fees for all registrants in the group will be charged to the first person in the group. If members of the group are paying individually (for example, with different credit cards), you must create separate registrations for each.
