.row
  .col-md-12
    .page-header
      %h1 Ticket Groups
      %p.text-muted
        Group your tickets
- if @conference.ticket_groups.any?
  .row
    .col-md-12
      %table.table.table-hover#sponsorship_levels
        %thead
          %th Name
          %th Position
          %th Actions
        %tbody
          - @conference.ticket_groups.each_with_index do |ticket_group, index|
            %tr
              %td
                = ticket_group.name
              %td
                = ticket_group.position
                .btn-group-vertical{role: "group"}
                  = link_to(up_admin_conference_ticket_group_path(@conference.short_title, ticket_group.id), method: :patch, class: 'btn btn-default btn-xs') do
                    %i.fa.fa-chevron-up
                  = link_to(down_admin_conference_ticket_group_path(@conference.short_title, ticket_group.id), method: :patch, class: 'btn btn-default btn-xs') do
                    %i.fa.fa-chevron-down
              %td
                = link_to 'Edit', edit_admin_conference_ticket_group_path(@conference.short_title, ticket_group.id),
                method: :get, class: 'btn btn-primary'
                = link_to 'Delete', admin_conference_ticket_group_path(@conference.short_title, ticket_group.id),
                method: :delete, class: 'btn btn-danger', data: { confirm: "Do you really want to delete the ticket group #{ticket_group.name}?" }
.row
  .col-md-12
    = link_to 'New Ticket Group', new_admin_conference_ticket_group_path(@conference.short_title), class: 'btn btn-success pull-right'
