.row
  .col-md-12
    .page-header
      %h1 Sponsors
      %p.text-muted
        People supporting your organization

.row
  .col-md-12
    %table.table.table-hover#sponsors
      %thead
        %th Logo
        %th Name
        %th Description
        %th URL
        %th Actions
      %tbody
        - Sponsor.ordered.each do |sponsor|
          %tr
            %td
              = image_tag(sponsor.picture.thumb.url, width: '20%')
            %td
              = sponsor.name
            %td
              = truncate(sponsor.description)
            %td
              = sponsor.website_url
            %td
              .btn-group
                = link_to 'Edit', edit_admin_sponsor_path(sponsor),
                method: :get, class: 'btn btn-primary'
                = link_to 'Delete', admin_sponsor_path(sponsor),
                method: :delete, class: 'btn btn-danger', data: { confirm: "Do you really want to delete the sponsor #{sponsor.name}?" }
.row
  .col-md-12
    = link_to 'Add Sponsor', new_admin_sponsor_path, class: 'btn btn-primary pull-right'
