:javascript
  $(document).ready(function() {
    hide_fields();
  });

  function hide_fields() {
    var e = document.getElementById("payment_method_gateway");
    var gateway = e.options[e.selectedIndex].value;

    var bt = document.getElementById("braintree");
    var pu = document.getElementById("payu");
    var st = document.getElementById("stripe");

    if (gateway === "braintree") {
      bt.style.display = "block";
      pu.style.display = "none";
      st.style.display = "none";
    }

    if (gateway === "payu") {
      bt.style.display = "none";
      pu.style.display = "block";
      st.style.display = "none";
    }

    if (gateway === "stripe") {
      bt.style.display = "none";
      pu.style.display = "none";
      st.style.display = "block";
    }
  }

.row
  .col-md-8
    .page-header
      %h1 Sponsorship Information
.row
  .col-md-8
    = semantic_form_for(@payment_method, url: admin_conference_payment_method_path(@conference.short_title)) do |f|
      = f.input :gateway, :as => :select, :collection => PaymentMethod::GATEWAYS, :input_html => { :onchange => "hide_fields();"}
      %div#braintree
        = f.input :braintree_environment, :as => :select, :collection => PaymentMethod::BRAINTREE_ENVS
        = f.input :braintree_merchant_id, label: 'Merchant ID'
        = f.input :braintree_public_key, label: 'Public Key'
        = f.input :braintree_private_key, label: 'Private Key'
        = f.input :braintree_merchant_account, label: 'Merchant Account'
      %div#payu
        = f.input :payu_store_name, label: 'Store Name'
        = f.input :payu_store_id, label: 'Store ID'
        = f.input :payu_webservice_name, label: 'Webservice Name'
        = f.input :payu_webservice_password, :as => :password, label: 'Webservice Password'
        = f.input :payu_signature_key, label: 'Signature Key'
        = f.input :payu_service_domain, label: 'Service Domain (staging.payu.co.za)'
      %div#stripe
        = f.input :stripe_publishable_key, label: 'Publishable Key'
        = f.input :stripe_secret_key, label: 'Secret Key'
      %p.text-right
        = f.submit 'Save Payment Method', class: 'btn btn-primary'
