:javascript
  $(document).ready(function() {
    adjust_form();
    $('#payment_method_gateway').change(adjust_form)
  });

  function adjust_form() {
    let gateway = $("#payment_method_gateway").val();

    if (gateway === "braintree") {
      $('#braintree').show()
      $('#stripe').hide()
    }

    if (gateway === "stripe") {
      $('#braintree').hide()
      $('#stripe').show()
    }
  }

.row
  .col-md-8
    .page-header
      %h1 Payment Method
.row
  .col-md-8
    = semantic_form_for(@payment_method, url: admin_conference_payment_method_path(@conference.short_title)) do |f|
      = f.input :gateway, as: :select, collection: PaymentMethod::GATEWAYS
      %div#braintree
        = f.input :braintree_environment, as: :select, collection: PaymentMethod::BRAINTREE_ENVS
        = f.input :braintree_merchant_id, label: 'Merchant ID'
        = f.input :braintree_public_key, label: 'Public Key'
        = f.input :braintree_private_key, label: 'Private Key'
        = f.input :braintree_merchant_account, label: 'Merchant Account'
      %div#stripe
        = f.input :stripe_publishable_key, label: 'Publishable Key'
        = f.input :stripe_secret_key, label: 'Secret Key'
      %p.text-right
        = f.submit 'Save Payment Method', class: 'btn btn-primary'
