.row
  .col-md-6
    .page-header
      %h1
        Payments
      %p.text-muted
        Successful payments for the conference
  .col-md-6
    .btn-group.pull-right.export-buttons
      = link_to 'Export PDF', admin_conference_reports_payments_path(@conference.short_title, @event, format: :pdf), class: 'btn btn-success'
      = link_to 'Export CSV', admin_conference_reports_payments_path(@conference.short_title, @event, format: :csv), class: 'btn btn-success'
      = link_to 'Export XLS', admin_conference_reports_payments_path(@conference.short_title, @event, format: :xlsx), class: 'btn btn-success'
.row
  .col-md-12
    %table.table.table-hover.datatable
      %thead
        %th #
        %th Date
        %th Buyer
        %th Last 4 Digits
        %th Amount
      %tbody
        - @payments.each_with_index do |payment, index|
          %tr
            %td
              = index + 1
            %td
              = payment.created_at.strftime("%b %d, %Y")
            %td
              = payment.user.name
            %td
              = payment.last4
            %td
              = humanized_money_with_symbol payment.amount_as_money
