- card_style = conference.tile_background? ? "background: url(#{conference.tile_background.url})  no-repeat scroll 0px 0px / cover;" : "background-color: #{conference.color};"
.card.conference-card.text-white{style: "#{card_style}"}
    %img.card-img-top{src: "#{conference.picture? ? conference.picture.url : 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'}"}
    .card-block{style: "color: #{conference.tile_font_color}"}
        .card-text.h3
            = date_string(conference.start_date, conference.end_date)
        .card-text.h4
            - if conference.venue
                = conference.venue.city
                = conference.venue.country_name
    .card-footer
        .row.col-center
            .col-md-6
                - if conference.splashpage
                    - if conference.splashpage.include_sponsors && !conference.ended?
                        = link_to "Sponsor!", main_app.conference_sponsorships_path(conference.short_title), :class =>"btn btn-warning btn-block"
            .col-md-6
                - if conference.splashpage && conference.splashpage.public
                    = link_to "Learn More", main_app.conference_path(conference.short_title), :class =>"btn btn-info btn-block"