.row
  .huge
    = conference.title

  .h4
    %span.fa.fa-calendar-o
    = date_string(conference.start_date, conference.end_date)
  - if conference.venue
    .h4
      %span.fa.fa-map-marker
      = conference.venue.city
      = conference.venue.country_name
.row.conference-buttons
  = render partial: '/conferences/conference_button_bar', locals: { conference: conference }

