%p.lead-sm
  = "Thank you for your interest in submitting to #{@conference.title}."
- if @program.tracks.any?
  %p.lead-sm.strong
    %strong
      We have
      = "#{pluralize(@program.tracks.count, 'tracks')}:"
  %ul.list-unstyled.lead-sm
    - @conference.program.tracks.each do |track|
      %li
        = markdown("**#{track.name}:** #{track.description}")
  - if @program.cfp_open?
    The Call for Papers is open from
    %strong.notranslate
      = @program.cfp.start_date.strftime('%A, %B %-d. %Y')
    until
    %strong.notranslate
      = @program.cfp.end_date.strftime('%A, %B %-d. %Y.')
    - if @program.cfp.notification_deadline
      %br
      Your proposal is expected to be reviewed before
      %strong.notranslate
        = @program.cfp.notification_deadline.strftime('%A, %B %-d. %Y.')

    - if @conference.policies.any?
      %br
      %br
      Any person submitting to
      = @conference.title
      agrees to the policies set forth in:

      %ul.list-unstyled
        - @conference.policies.each do |policy|
          %li
            %a{ href: '#', data: { toggle: 'modal', target: "##{policy.code}" }, class: 'policy' }
              %span.fa.fa-file-text
              = policy.title
            %br

  -else
    The submission period is closed now.
