.row
  .col-md-12
    .page-header
      %h1
        Registration for #{@user.name} (#{@user.email})

.row
  .col-md-6
    .row
      .col-md-3
        = image_tag @user.avatar_url(version: 'large'), class: "img-responsive img-rounded"
      .col-md-9
        %h4
          = link_to @user.name, user_path(@user.id)
        - if @user.affiliation?
          .text-muted
            = @user.affiliation
    -if @user.biography?
      .row.speakerbio
        .col-md-12
          = markdown(@user.biography)
    .row.row-centered
      = link_to 'Edit User', edit_admin_user_path(@user), class: 'btn btn-primary' if can? :edit, @user

  .col-md-6
    .row
      .col-md-10
        %h3
          Proposals/Talks
    .row
      .col-md-10
        = render partial: 'proposals'
