.row
  .col-md-12
    .page-header
      %h1
        - if @activity.new_record?
          New
        Activity
        = @activity.name
.row
  .col-md-8
    = semantic_form_for(@activity, :url => (@activity.new_record? ? admin_conference_activities_path : admin_conference_activity_path(@conference.short_title, @activity))) do |f|
      = f.input :name
      = f.input :website_link
      = f.input :description, input_html: { rows: 5, cols: 20, data: { provide: 'markdown-editable' } }, hint: markdown_hint
      - if @activity.picture?
        = image_tag @activity.picture.thumb.url
      = f.input :picture
      %p.text-right
        = f.action :submit, as: :button, button_html: { class: 'btn btn-primary' }
