%div{class: "main-card border digital-event"}
  .row.h-100
    .col-md-4.col-md-push-8.h-100
      .poster-button-wrapper.h-100
        - if item.splashpage && item.splashpage.public
          = link_to main_app.conference_path(item.short_title) do
            %img.img-responsive.poster-small{:alt => "Conference poster", :src => "#{item.picture.url}"}
        - else
          %img.img-responsive.poster-small{:alt => "Conference poster", :src => "#{item.picture.url}"}
        .card-footer.hidden-sm

    .col-md-8.col-md-pull-4.col-flex
      %h4.bold.mt-0
        - if item.splashpage && item.splashpage.public
          = link_to item.title, main_app.conference_path(item.short_title), class: 'link-effect'
        - else
          = item.title
      %p
        = date_string(item.start_date, item.end_date)
        .btn-wrapper-bottom
          - if item.splashpage && item.splashpage.public
            - if item.registration_open? && item.tickets.any?
              = link_to "Register", main_app.conference_buytickets_path(item.short_title), class: "btn cta-btn bold uppercase", disabled: item.registration_limit_exceeded?
            - else
              - if item.splashpage.include_sponsors && !item.ended?
                = link_to "Sponsor!", main_app.conference_sponsorships_path(item.short_title), class: "btn cta-btn cta-btn-half bold uppercase"
              - if item.program.cfp_open? and item.splashpage.include_cfp
                = link_to "CFP", main_app.new_conference_program_proposal_path(item.short_title), class: 'btn cta-btn cta-btn-half bold uppercase'