%html{:xmlns => "http://www.w3.org/1999/html"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= 'ERROR'
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"

    = yield(:head)
  %body{class: 'errbody'}
    #content
      = yield
  }
