%html{:xmlns => "http://www.w3.org/1999/html"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "turbolinks"
    = content_for(:script_head)
    = stylesheet_link_tag "signage", :media => "all"

  %body#sign
    = yield
